/.gradle
/.idea
/out
/build
*.iml
*.ipr
*.iws
/build
/build/*
/.idea/*
build
out
test-output
target/
classes/
/var
test-output/
local.properties
temp-testng-customsuite.xml
/atlassian-ide-plugin.xml
hotspot.log
pom.xml.versionsBackup
.gradle
.idea
*.iml
.DS_Store
*.ipr
*.iws
.gradle/
.classpath
.settings
.project
.externalToolBuilders
*~